body
  app-root
    script(src="/client/inline.bundle.js")
    script(src="/client/polyfills.bundle.js")
    script(src="/client/styles.bundle.js")
    script(src="/client/vendor.bundle.js")
    script(src="/client/main.bundle.js")